{% include base_path %}

<li>
{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title" itemprop="headline">
      {% if post.shortform %}
      	[{{ post.shortform }}]
      {% endif %}
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {%if post.award %}
    <B> <i class="fas fa-fw fa-trophy"></i> {{post.award}} <br> </B>
    {% endif %}
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.authorlist or post.venue %}
      <p class="archive__item-excerpt" itemprop="description">
      {% if post.authorlist%}{{ post.authorlist }}<br>{% endif %}
      {% if post.venue%}{{ post.venue }}{% endif %}
      </p>
    {% endif %}
 </article>
</div>
</li>
